@model BankApp.Application.CustomerDetails.CustomerDetailsViewModel

@if (ViewData["Layout"] == "true")
{
    Layout = "_Layout";
}


@if (Model != null)
{
    <p>@Model.Customer.Givenname @Model.Customer.Surname</p>
    <p>KundID: @Model.Customer.CustomerId</p>
    if (Model.Customer.Birthday != null)
    {
        <p>@Model.Customer.Birthday</p>
    }
    <p>@Model.Customer.Streetaddress @Model.Customer.Zipcode, @Model.Customer.City</p>
    
    <p>@Model.Customer.Country</p>
    <p>@Model.Customer.Telephonecountrycode@Model.Customer.Telephonenumber</p>
    <p>@Model.Customer.Emailaddress</p>

    if (User.HasClaim("Cashier", "true"))
    {
        <a class="btn" asp-action="EditCustomer" asp-controller="Cashier" asp-route-id="@Model.Customer.CustomerId">Ändra kunduppgifter</a>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    KontoId
                </th>
                <th>
                    Disposition
                </th>
                <th>
                    Saldo
                </th>
                <th>
                    Skapat
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer.Accounts)
            {
                <tr>
                    <td>
                        <a asp-action="TransactionHistory" asp-controller="Account" asp-route-id="@item.AccountId"
                           asp-route-pagenr="1">@item.AccountId</a>
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Balance
                    </td>
                    <td>
                        @item.Created
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Totalt saldo: @Model.TotalBalance</p>
}
else
{
    <div>
        <p>Inga sökresultat hittades</p>
    </div>
}

